.Books_Card{
    background-color: #ffffff;
    height: auto; /*742px*/
    width: 76%;/*1440px;*/
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    opacity: 0.9;
}

.books_card_row{
    /* background-color: lightskyblue; */
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 7%;
    padding-top: 10%;
    
}

.books_card_data_col{
    /* background-color: lightcoral; */
    
}

.books_card_img_col{
    
    /* background-color: lightgreen; */
}


#books_card_book_title{
    color: #0B0C0C;
    font-family: Lato;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.2px;
    line-height: 60px;
}

#books_card_book_subtitle{
    color: #0B0C0C;
    font-family: Lato;
    font-size: 40px;
    letter-spacing: 0.2px;
    line-height: 60px;
}

#books_card_book_bookdesc{
    color: #6D7278;
    font-family: Lato;
    font-size: 20px;
    letter-spacing: 0.1px;
    line-height: 28px;
}


#books_buy_button{
    border: 2px solid #6236FF;
    border-radius: 2px;
    color: #6236FF;
    background-color: #ffffff;
    font-family: Lato;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.12px;
    line-height: 60px;
    padding: 3px 40px 1px 40px;
    margin-top: 48px;
}

#books_buy_button:hover{
    border: 2px solid #6236FF;
    border-radius: 2px;
    color: #ffffff;
    background-color: #6236FF;
    font-family: Lato;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.12px;
    line-height: 60px;
    padding: 3px 40px 1px 40px;
}


.books_card_book_img{
    height: 100%;
    width: 100%;
}